[submodule "lib/safe-utils"]
	path = lib/safe-utils
	url = https://github.com/trebuchet-org/safe-utils
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/createx-forge"]
	path = lib/createx-forge
	url = https://github.com/radeksvarz/createx-forge
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
